@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --primary: #64b5f6;
    --secondary: #f69a64;
    --font: rgb(73, 73, 73);
    --shaded: #ccc;
    --danger: #f66464;
}


* {
    font-family: 'Jost', sans-serif;
    box-sizing:border-box;
    margin:0;
    padding:0;
    color:var(--font);
}

.container {
    display:flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height:100vh; 
}

.header {
    background-color: var(--primary);
    padding: 20px 100px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.content {
    background-color: #fff;
    padding: 20px 100px;
    flex-grow:1;
    overflow: auto;
    font-size: 1.1em;
}

.footer {
    background-color:rgb(44, 44, 44);
    padding: 20px 100px;
    color:#ccc;
    text-align: center;
}

.logo {
    align-self: flex-start;
    flex-basis: 200px;
    font-weight: bold;
    font-size: 1.5em;
}

.login-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


.form-row {
    margin: 10px 0;
    width:100%;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=password] {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    box-sizing: border-box;
    border:1px solid var(--shaded);
    margin: 5px 0;
    font-size: 1em;
    border-radius: 3px;
}

.form-row input[type=text]:focus,
.form-row input[type=email]:focus,
.form-row input[type=password]:focus {
    border:1px solid var(--primary);
}

.form-row button,
.form-row input[type="submit"],
.form-row input[type="button"] {
    width: 100%;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    border:1px solid var(--primary);
    margin: 5px 0;
    background-color: var(--primary);
    font-size: 1em;
    color:#fff;
    transition: ease-in-out .3s;
    border-radius: 3px;
}



.form-row button:hover,
.form-row input[type="submit"]:hover,
.form-row input[type="button"]:hover {
    background-color: #fff;
    color:var(--primary);
}

.login-logo {
    width:200px;
    height:auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.profile {
    align-self: flex-end;
    display: flex;
    flex-basis: 200px;
    justify-content:flex-end;
    flex-direction: row;
    align-items: center;
}

.profile a {
    padding-right:10px;
    font-size: 1.2em;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}

.profile a:hover {
    text-decoration: underline;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:3px solid #fff;
  }

.profile-pic {
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px 0;
}

a {
    color:var(--primary);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column:first-child {
    padding-left: 0;
}       

.column:last-child {
    padding-right: 0;
}
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .add {
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:100px;
    height: 100px;
    position: fixed;
    top:120px;
    left:100px;
    z-index: 100;
    border-radius: 50%;
    

  }

  .add:hover {
      background-color: var(--secondary);
  }

  .add-icon {
      width:100px;
      
  }

@media only screen and (max-width: 600px) {
    .content, .header, .footer {
        padding: 20px;
    }

    form {
        width:100%;
    }
}